:root {
  --color-primary: #6e41e2;
  --color-primary-hover: #5320d6;
  --color-accent: #db524e;
  --color-success: #27ae60;
  --color-info: #428bf9;
  --color-disabled: #c2aef2;
  --color-white: #fff;
  --color-black: #111;
}
