$color-primary: #6e41e2;
$color-accent: #db524e;
$color-success: #27ae60;
$color-info: #428bf9;
$color-disabled: #c2aef2;
$color-white: #fff;
$color-black: #111;

// $gray-m: #fafafa;
// $gray-l: #f1f1f1;
// $gray-s: #d4d4d4;
// $gray: rgba(#d4d4d4, 0.48);
// $gray-k: #6b6b6b;
